@use '../variables' as *;

.footer {
background-color: $color-lightgray;
padding: 1%;
margin: 0;
text-align: center;
display: flex;
flex-direction: column;
width: auto;
margin-top: auto;
color: #333;
font-size: 14px;
font-weight: 400;

p {
  font-size: 1rem;
}
}

.footer-links {
display: flex;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
list-style: none;

li {
  margin: 0 10px;
}
}

.footer-btn:hover {
  background-color: $color-hover;
  color: $color-secondary;
  text-decoration: none;
  border-radius: 5px;
}

.social-icon {
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 1%;

  &:hover {
    background-color: $color-primary;
    border-radius: 5px;
  }
}
