@use '../variables' as *;

.Green-Earth-preview {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  padding: 1%;
}
@media screen and (max-width: 650px) {
  .Green-Earth-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1%;
    margin: 1%;
  }
}

.Green-Earth-Project-description {
  background-color: $section-color-background;
  width: auto;
  height: auto;
  margin-top:9%;
  margin: 1%;
  padding: 1%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: left;
  font-size: 14px;
  color: $color-text;
  border-radius: 5px;
}

.iphone-wrapper {
  position: relative;
  margin-left:5%;
  width: auto;
}

.iphone-img {
  width: auto;
  height: 650px;
  margin: 1%;
  padding: 1%;
}

.gif-green-earth-overlay {
  position: absolute;
  left: 8%;
  width: 285px;
  height: 600px;
  border-radius: 30px;
  pointer-events: none;
  top: 6%; 
}
@media screen and (max-width: 650px) {
  .gif-green-earth-overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 600px;
    margin-top: -200%;
    margin-left:-1%;
    padding: 1%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 650px) {
  .iphone-wrapper {
    transform: scale (0.7);
    margin-bottom: 5%;
  }
}


.previous-project-btn {
  background-color: $previus-project-button-color;
  color: $color-lightgray;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  border: solid 1px $gray;
  cursor: pointer;
  text-decoration: none;
  margin: 1%;
  padding: 1%;
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--bs-body-line-height);
  width:fit-content;
}

.previous-project-btn:hover {
  background-color: #0070cd;
  color: $color-lightgray;
  text-decoration: none;
}

.go-back-btn {
  background-color: #6d0000;
  color: $color-lightgray;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  border: solid 1px $gray;
  cursor: pointer;
  text-decoration: none;
  margin: 1%;
  padding: 1%;
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--bs-body-line-height);
  width:fit-content;
}

.go-back-btn:hover {
  background-color: #cd0000;
  color: $color-lightgray;
  text-decoration: none;
}