.Green-Earth-preview {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  padding: 1%;
}

@media screen and (max-width: 650px) {
  .Green-Earth-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1%;
    margin: 1%;
  }
}
.Green-Earth-Project-description {
  background-color: #373c37;
  width: auto;
  height: auto;
  margin-top: 10%;
  padding: 1%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: left;
  font-size: 14px;
  color: #a7a8a7;
  border-radius: 5px;
}

.iphone-wrapper {
  position: relative;
  margin-left: 5%;
  width: auto;
}

.iphone-img {
  width: auto;
  height: 650px;
  margin: 1%;
  padding: 1%;
}

.gif-green-earth-overlay {
  position: absolute;
  left: 8%;
  width: 285px;
  height: 600px;
  border-radius: 30px;
  pointer-events: none;
  top: 6%;
}

@media screen and (max-width: 650px) {
  .iphone-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 1%;
    padding: 1%;
  }
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 1%;
  padding: 1%;
  gap: 1rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 650px) {
  .buttons-container {
    flex-direction: column;
    align-items: center;
  }
}

.next-project-btn {
  background-color: rgba(4, 192, 95, 0.6862745098);
  color: #f2f2f2;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  border: solid 1px #868585;
  cursor: pointer;
  text-decoration: none;
  margin: 1%;
  padding: 1%;
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--bs-body-line-height);
  width: -moz-fit-content;
  width: fit-content;
}
.next-project-btn:hover {
  background-color: #128c7e;
  color: #a7a8a7;
  text-decoration: none;
}

.previous-project-btn {
  background-color: #004a6d;
  color: #a7a8a7;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  border: solid 1px #60000d;
  cursor: pointer;
  text-decoration: none;
  margin: 1%;
  padding: 1%;
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--bs-body-line-height);
  width: -moz-fit-content;
  width: fit-content;
}

.previous-project-btn:hover {
  background-color: #0070cd;
  color: #a7a8a7;
  text-decoration: none;
}

.go-back-btn {
  background-color: #6d0000;
  color: #a7a8a7;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  border: solid 1px #868585;
  cursor: pointer;
  text-decoration: none;
  margin: 1%;
  padding: 1%;
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--bs-body-line-height);
  width: -moz-fit-content;
  width: fit-content;
}

.go-back-btn:hover {
  background-color: #cd0000;
  color: #a7a8a7;
  text-decoration: none;
}

.back-button {
  background-color: #801023;
  color: #a7a8a7;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 1%;
  padding: 1%;
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--bs-body-line-height);
  width: -moz-fit-content;
  width: fit-content;
}

.back-button:hover {
  background-color: #cd0000;
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=green-earth-project.css.map */